<div class="col-lg-12">
  <h1>People I follow <a href="/follow"><button class="btn btn-lg btn-primary">FIND MORE</button></a></h1>
</div>

<% @followers.each do |follower| %>
<div class="col-md-3" id="user-list">
  <div class="col-lg-12" id="user">
    <img src="<%= follower.gravatar %>" class="img img-responsive img-circle" />
      <h3><a href="/users/<%= follower.id %>">@<%= follower.handle %></a></h3>
        <p><%= follower.email %></p>
        <p><%= follower.bio %></p>
        <p id="view-user"><a class="btn btn-primary btn-lg" href="/users/<%=follower.id%>">See Tweets</a></p>
  </div>
</div>
<% end %>

