<h1>Tweeters</h1>

<%  @users.each do |user| %>

<div class="col-md-3" id="user-list">
  <div class="col-lg-12" id="user">
  <img src="<%= user.gravatar %>" class="img img-responsive img-circle" />
  <h3><a href="/users/<%= user.id %>">@<%= user.handle %></a></h3>
  <p><%= user.email %></p>
  <p>Biography</p>

  <% if  @followers.include?(user) %>
    <a href=<%="unfollow/#{user.id}"%> ><button class="btn btn-primary btn-lg" id="follow-button">Unfollow</button></a>
  <% else %>
    <a href=<%="follow/#{user.id}"%> ><button class="btn btn-primary btn-lg" id="follow-button">Follow</button></a>
  <% end %>

</div>
</div>
<% end%>

</ul>