<h1>People I follow</h1>

<% @followers.each do |follower| %>
<div class="col-md-3" id="user-list">
  <div class="col-lg-12" id="user">
    <img src="<%= follower.gravatar %>" class="img img-responsive img-circle" />
      <h3><a href="/users/<%= follower.id %>">@<%= follower.handle %></a></h3>
        <p><%= follower.email %></p>
        <p><%= follower.bio %></p>
        <p id="view-user"><button class="btn btn-primary btn-lg">See Tweets</button></p>
  </div>
</div>
<% end %>

