<h1>My Feed</h1>

<% @followers.each do |follower| %>
  <p><%= follower.handle %></p>
  <p><%= follower.tweets %></p>
 <% follower.tweets.each do |tweet| %>
<div class="row" id="tweet">

<div class="col-sm-1"><img src="<%=tweet.user.gravatar%>" class="img img-responsive img-circle">
</div>
    <div class="col-sm-11"><%= tweet.status %><br /><br />
    @<%=tweet.user.handle %> | <%= tweet.created_at %>
  </div>
</div>
<% end %>
<% end %>

