<h1>Feed <a class="btn btn-lg pull-right btn-primary" href="/follow">ADD FOLLOWERS</a></h1>

  <form action="/tweet/create" method="post">

    <input type="text" name="status" placeholder="What's going on <%= session[:user].handle %>?" class="form-control" maxlength="140"><br />
    <input type="submit" name="submit" value="Tweet" class="btn btn-primary">

  </form>
<div id="tweet-list">

<% @followers.each do |follower| %>
 <% follower.tweets.each do |tweet| %>
<div class="row" id="tweet">

<div class="col-sm-1"><img src="<%=tweet.user.gravatar%>" class="img img-responsive img-circle hidden-xs">
</div>
    <div class="col-sm-11"><%= tweet.status %><br /><br />
    <a href="/users/<%=tweet.user.id%>">@<%=tweet.user.handle %></a> | <%= tweet.created_at %> | <a href=  <%="retweet/#{tweet.id}/create" %>  ><button class="btn btn-sm btn-primary">Retweet</button></a>
  </div>
</div>
<% end %>
<% end %>
</div>

