<h1>Tweets</h1>
<div id="tweet-list">
<%  @tweets.each do |tweet| %>
<div class="row" id="tweet">

<div class="col-sm-1"><img src="<%=tweet.user.gravatar%>" class="img img-responsive img-circle hidden-xs">
</div>
    <div class="col-sm-11"><%= tweet.status %><br /><br />
   <a href="/users/<%=tweet.user.id%>">@<%=tweet.user.handle %></a> | <%= tweet.created_at %>
  </div>
</div>
<% end%>

